@import "variables";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.associations-table {
  background-color: white;
  border: 1px solid $mercury;
  border-collapse: separate;
  border-spacing: 0;

  td,
  th {
    border-left: 1px solid $mercury;
    border-top: 1px solid $mercury;
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }
}

.associations-table-th {
  padding: 1rem;
}

.associations-table-td {
  padding: 0.5rem;
}

.associations-table-btn {
  font-size: 0;
}

.association-score-graph {
  height: 24rem;
}

.graph-button {
  border: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  svg {
    background-color: $steel-blue;
    color: white;
    display: block;
    height: 3rem;
    margin: 0;
    padding: 0;
    width: 3rem;
  }
}

.table-wrapper {
  box-shadow: 10px;
  display: flex;
  justify-content: center;
}
